.footer {
    display: flex;
    background-color: rgb(26, 26, 26);
    border-radius: 50px;
    width: 90rem;
    height: 30vh;
    margin: 0 auto 3rem auto;
    color: white;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30%;
    font-size: 1.4rem;
}

.learnMore {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.divider {
    width: 1px;
    background: white;
    height: 100%;
}