.mainTitle {
    display: flex;
    justify-content: center;
    gap: 18rem;
    padding-left: 3.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.titleText {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 35rem;
    gap: 3rem;
}

.message {
    font-size: 3rem;
}

.titleText p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.titleText button {
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 10px;
    height: 5rem;
    width: 20rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
}

.consultationBtn{
    font-family: var(--font-kode);
}

.titleImgSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleImg {
    width: 40rem;
    height: auto;
}

.logoSection {
    margin: 5.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.subtitle{
    font-size: 1.6rem;
    width: 30vw;
}