.mainTitle {
    display: flex;
    justify-content: center;
    gap: 18rem;
    padding-left: 3.5rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.titleText {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 35rem;
    gap: 3rem;
}

.message {
    font-size: 3rem;
}

.titleText p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.titleText button {
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 10px;
    height: 5rem;
    width: 20rem;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
}

.consultationBtn{
    font-family: var(--font-kode);
}

.titleImgSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleImg {
    width: 40rem;
    height: auto;
}

.logoSection {
    margin: 5.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.subtitle{
    font-size: 1.6rem;
    width: 30vw;
}

.subTitle {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 9rem auto 9rem auto;
    max-width: 90rem;
}

.subTitle h2 {
    font-size: 2.5rem;
    background-color: #04D98B;
    padding: 0.2rem 0.5rem;
}

.subTitle p {
    font-size: 1.4rem;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: center;
    width: 90rem;
    margin: 0 auto;
}

/* CARD BASE */
.card,
.cardDark {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 40rem;
    height: 20rem;

    border-radius: 50px;
    box-shadow: 0px 10px;
    padding: 2rem;
}

/* LIGHT CARD */
.card {
    border: 1px solid rgb(26, 26, 26);
    background: white;
}

/* DARK CARD */
.cardDark {
    background-color: rgb(26, 26, 26);
    color: white;
}

/* TEXT */
.text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.text h3 {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 11.8rem;
    background-color: #04D98B;
    border-radius: 10px;
}

.textEmail h3{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 15rem;
    margin-bottom: 5rem;
    background-color: #04D98B;
    border-radius: 10px;
}

/* DARK TITLE FIX */
.cardDark .text h3 {
    background: white;
    color: black;
}

/* LEARN MORE */
.learnMore {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}


.make {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
    width: 92rem;
    height: 25rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.makeText {
    padding:2.5rem 2rem;
    display:flex ;
    flex-direction: column;
    gap: 2.5rem;
    width: 40rem;
    margin-left: 2.5rem;
}

.makeText h2 {
    font-size: 2.5rem;
}

.makeText p {
    font-size: 1.4rem;
}

.makeText button {
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 10px;
    height: 4.5rem;
    width: 22rem;
    font-size: 1.6rem;
    cursor: pointer;
}

.studyBtn{
    font-family: var(--font-kode);
}

.makeImgDiv{
    display: flex;
    margin-top:0 ;
    justify-content: end;
    align-items: center;
    width: 40rem;
}

.makeImg{
    margin-top: -8rem;
}

.study {
    display: flex;
    gap: 2rem;
    width: 90rem;
    margin: 7rem auto 7rem auto;
    align-items: center;
}

.study h1 {
    font-size: 2.5rem;
    width: 16.2rem;
    background-color: #04D98B;
    padding: 0.3rem 1rem;
}

.study p {
    font-size: 1.4rem;
}

.footer {
    display: flex;
    background-color: rgb(26, 26, 26);
    border-radius: 50px;
    width: 90rem;
    height: 30vh;
    margin: 0 auto 3rem auto;
    color: white;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footerSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30%;
    font-size: 1.4rem;
}

.learnMore {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.divider {
    width: 1px;
    background: white;
    height: 100%;
}